@model OnlineMedicine.Models.Medicine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" id="imageForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" name="mid" value="@ViewBag.Medicine.Id" />
                <label asp-for="Name" class="control-label"></label>
                <input type="text" required name="name" value="@ViewBag.Medicine.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select name="category" class="form-control">
                    <option value="@ViewBag.Medicine.Category.Id">@ViewBag.Medicine.Category.Name</option>
                    @foreach (Category c in ViewBag.category)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input name="price" required type="number" value="@ViewBag.Medicine.Price" class="form-control" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" required class="control-label"></label>
                <input name="quantity" required type="number" value="@ViewBag.Medicine.Quantity" class="form-control" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExpiredDate" class="control-label"></label>
                <input name="expriedDate" required value="@ViewBag.date" type="date" class="form-control" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <a href="https://imgbb.com/" target="_blank">Get link of image</a>
                <input type="text" name="image" required class="form-control" id="imageUrl" />
                <span asp-validation-for="Image" class="text-danger" id="error-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descript" class="control-label"></label>
                <input type="text" required value="@ViewBag.Medicine.Descript" name="descript" class="form-control" />
                <span asp-validation-for="Descript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAge" class="control-label"></label>
                <input type="number" required name="minAge" value="@ViewBag.Medicine.MinAge" class="form-control" />
                <span asp-validation-for="MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select name="typeId" class="form-control">
                    <option value="@ViewBag.Medicine.Type.Id">@ViewBag.Medicine.Type.Name</option>
                    @foreach (var c in ViewBag.type)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select name="country" class="form-control">
                    <option value="@ViewBag.Medicine.Country.Id">@ViewBag.Medicine.Country.Name</option>
                    @foreach (Country c in ViewBag.country)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <br />
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListAll">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        document.getElementById("imageForm").addEventListener("submit", function (event) {
            const url = document.getElementById("imageUrl").value;
            const errorMessage = document.getElementById("error-message");

            if (!isValidImageUrl(url)) {
                event.preventDefault();
                errorMessage.textContent = "Please input link of image";
            } else {
                errorMessage.textContent = "";
            }
        });

        function isValidImageUrl(url) {
            return url.match(/\.(jpeg|jpg|gif|png)$/) != null;
        }
    </script>
}
